html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Snowburst One";
  text-transform: uppercase;
  font-size: 70px;
}

text {
  width: 45ch;
  font-size: 18px;
  font-family: "Snowburst One";
  font-weight: 400;
  text-transform: uppercase;
}

.christmas-card {
  color: white;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
  }
  text {
    font-size: 10px;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 38px;
  }
}
